<div class="container">

<h1>Ici les réponses </h1>

<h2>Votre question</h2>
<%= @question %>

<h2>La réponse du coach</h2>
<%= @answer %>

<br>

<%= link_to "Encore une question ?", ask_path, class: "btn btn-primary text-warning" %>
</div>
