<h1> Parle au Coach </h1>

<form action="/answer" method ="get" data-turbo="false">
  <label for="question">Ta question :</label>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
